<link rel="stylesheet" href="../css/footer.css">
<div class="footer-content">
    <h2 class="connect-text">Let's connect!</h2>
    <div class="footer-links">
        <a href="https://www.linkedin.com/in/thomas-brouwer-phd-73a7176b/" target="_blank">LinkedIn</a>
        <a href="https://thomasbrouwer.substack.com/" target="_blank">Substack</a>
    </div>
    <div class="legal-links">
        <a href="/impressum.html">Impressum</a>
        <a href="/privacy.html">Privacy Statement</a>
    </div>
</div> 